:root {
    --font-size: 1.75rem;
}

html,
body {
    margin: 0;
    height: 100%;
    font-size: var(--font-size);
}

.form {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

form {
    display: grid;
    grid-template:
        'a' 5rem
        'b' auto;
}

section:first-child {
    display: grid;
    grid-template: "a b";
    gap: 3rem;
}

section:last-child {
    display: flex;
    justify-content: center;
}

.game-area {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header > div {
    font-size: calc(var(--font-size) * 2);
}

.board {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    border: 0.2rem solid black;
}

.row {
    display: flex;
}

.cell {
    border: 0.2rem solid black;
    padding: calc(var(--font-size) * 2);
}