html,
body {
    margin: 0;
}

.board-area {
    display: flex;
    justify-content: center;
}

.board {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    border: 0.2rem solid black;
}

.row {
    display: flex;
}

.cell {
    border: 0.2rem solid black;
    padding: 5rem;
}